* {
	margin: 0;
	padding: 0;
}

QSplitter:handle:vertical {
	background: rgb(255, 125, 30);
	height: 2px;
}
QSplitter:handle:horizontal {
	background: rgb(255, 125, 30);
	width: 2px;
}

QLabel, QPushButton {
	padding-right: 10px;
	padding-left: 10px;
	height: 20px;
}

Square_Button {
	height: 20px;
	width: 20px;
}